@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
        border: 0;
        border-spacing: 0px 0px;
    }

    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    table td:nth-of-type(4), td:nth-of-type(3) { 
        /* Behave  like a "row" */
        border: none;
        position: relative;
        display: inline-block;
    }

    tr { 
        border: 2px solid;
        border-color: black; 
        margin-bottom: 10px;
        padding-right: 10px;
    }

    th{
        display: none;
    }

