/*MAIN MENU*/
body{
    background: url("../images/patternblue.jpg");
    background-size: cover;
    height:auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
    /*background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: auto;*/
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
h1{
    font-size: xx-larger;
}
h1{
    font-family: plusSvn;
    text-align: center;
    color:#ffffff;
}
p{
    text-align: center;
    font-family: plusSvn;
    color:#ffffff;
}
[class*="col-"] {
    float: center;
    padding: 20px;
}
body {
    background-color: #ECF0F1;
}

.center{
    text-align: center;
}

.courier-new{
	
	font-family: courier new;
}
/* button*/
.menu ul {
    list-style-type: none;
    padding: 10px;
    text-align: center;
}
.menu li{
    margin-bottom: 10px;
	color:#ffffff;
	text-align:center;
	padding:10px;
    font-family:digiclock;
    font-size: 30px;
    display:block;
    text-decoration: none;
    cursor:pointer;
    align-items:center;
    box-shadow: 0px 10px 14px -7px #276873;
    border-radius: 6px;
}
	
	
/*blue button*/
.menu .sched {
    background:linear-gradient(to bottom, #378de5 5%, #4B59CD 100%);
    
    background-color:#1a8cff;
	border: 1px solid #337fed;
    text-shadow:0px 1px 0px #1570cd

    
}
.menu .sched:hover {
    //color: #5FF862;
   background:linear-gradient(to bottom, #378de5 5%, #004d99 100%);
    background-color:#004d99;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
    
}
.menu li:active {
	position:relative;
	top:1px;
}
.inline{
    display:inline-block;
    margin-left: 5px;
}



@font-face{
    font-family: plusSvn;
    src: url(fonts/plus7/plus_7.ttf);
}

@font-face{
    font-family: infinity;
    src: url(fonts/infinity/Infinity.ttf);
}

@font-face{
    font-family: digiclock;
    src: url(fonts/digital-dismay/DigitalDismay.otf);
}