@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
        border: 0;
    }

    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 2px solid; }

    th{
        display: none;
    }

    .absent-btn{
    background-color:#1a8cff;
    border: 1px solid #00284d;
    color:#ffffff;
    text-align:center;
    padding:3px;
    font-family:Courier New;
    font-size:larger;
    display:block;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 5px;
    }

    .late-btn{
    background-color:#1a8cff;
    border: 1px solid #00284d;
    color:#ffffff;
    text-align:center;
    padding:3px;
    font-family:Courier New;
    font-size:larger;
    display:inline-block;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    }


    .absent1:disabled{
        background-color:#ffffff;
    }

    input[type=number]:disabled {
    display: none ;
    }
    .late-btn:disabled{
    background: #878991;   
    }
    .absent-btn:disabled{
     background: #878991;     
    }

}