/*MAIN MENU*/
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
h1{
    font-size: xx-large;
}
h1, p{
    font-family: courier new;
    text-align: center;
    color:#ffffff;
}
[class*="col-"] {
    float: center;
    padding: 20px;
}
body {
    background-color: #242940;
}

.center{
    text-align: center;
}

.courier-new{
	
	font-family: courier new;
}
/* button*/
.menu ul {
    list-style-type: none;
    padding: 0;
}
.menu li{
	color:#ffffff;
	text-align:center;
	padding:20px;
    font-family:Courier New;
    font-size:larger;
    display:block;
    text-decoration: none;
    cursor:pointer;
}
	
	
/*blue button*/
.menu .btn {
	background-color:#1a8cff;
	border: 1px solid #00284d;
}
.menu .btn:hover {
	background-color:#004d99;
}
.menu li:active {
	position:relative;
	top:1px;
}







